{% extends 'base.html.twig' %}

{% block title %}Flight index
{% endblock %}

{% block body %}
	<div class="container bg-light rounded py-3">
		<div class="row col-12">
			<h1 class="m-4">Flights Operate</h1>

			{% if is_granted('ROLE_ADMIN') %}
				<div>
					<a class="btn btn-outline-info my-2" href="{{ path('flight_new') }}">Create new flight</a>
				</div>
			{% endif %}

			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Price</th>
						<th>Numero</th>
						<th>Schedule</th>
						<th>Reduction</th>
						<th>Seat</th>
						<th>Departure</th>
						<th>Arrival</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for flight in flights %}
						<tr>
							<td>{{ flight.id }}</td>
							{% if flight.reduction %}
								<td class="promo">
									<span class="badge bg-danger text-white">Promo  - 5%</span>

									{{ flight.price - flight.price*5/100 }}
									€</td>
							{% else %}
								<td>{{ flight.price }}
									€</td>
							{% endif %}
							<td>{{ flight.numero }}</td>
							<td>{{ flight.schedule ? flight.schedule|date('H:i:s') : '' }}</td>
							<td>{{ flight.reduction ? 'Yes' : 'No' }}</td>
							<td>{{ flight.seat }}</td>
							<td>{{ flight.departure.name }}</td>
							<td>{{ flight.arrival.name }}</td>

							<td>
								<a class="btn btn-outline-success" href="{{ path('flight_show', {'id': flight.id}) }}">Show</a>
								{% if is_granted('ROLE_ADMIN') %}
									<a class="btn btn-outline-warning" href="{{ path('flight_edit', {'id': flight.id}) }}">Edit</a>
									{{ include('flight/_delete_form.html.twig') }}
								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
	</div>
{% endblock %}
